In [1]:
import pandas as pd

In [2]:
import numpy as py

In [3]:
import seaborn as sns

In [4]:
import matplotlib.pyplot as plt

In [5]:
from sklearn.metrics import r2_score
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import SelectFromModel
from sklearn.tree import DecisionTreeRegressor

In [6]:
data= pd.read_csv(r"C:\Users\shahi\Downloads\archive (1)\Crop_recommendation.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [7]:
data['label'].unique() #22 categories
# divide in subcategories

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

 subcategory 1: fruits ('banana':1.1, 'watermelon':1.2, 'muskmelon':1.3)
 subcategory 2: cereal crops ('rice':2.1, 'maize':2.2)
 subcategory 3: lentils ('chickpea':3.1, 'mungbean':3.1, 'blackgram':3.3)
 subcategory 4: textile crops ('cotton':4.1, 'jute':4.2)
 subcategory 5: 'coffee':5, remove it not ideal for single crop system

In [8]:
data[['num_label', 'num_label_2']]= ''

In [9]:
data.loc[data['label'].isin(['banana', 'watermelon', 'muskmelon']), 'num_label'] = 1
data.loc[data['label'].isin(['rice', 'maize']), 'num_label'] = 2
data.loc[data['label'].isin(['chickpea', 'mungbean', 'blackgram']), 'num_label'] = 3
data.loc[data['label'].isin(['cotton', 'jute']), 'num_label'] = 4
data.loc[data['label'].isin(['coffee']), 'num_label'] = 0

In [10]:
data

,N,P,K,temperature,humidity,ph,rainfall,label,num_label,num_label_2
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,2,
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice,2,
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice,2,
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice,2,
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice,2,
...,...,...,...,...,...,...,...,...,...,...
2195,107,34,32,26.774637,66.413269,6.780064,177.774507,coffee,0,
2196,99,15,27,27.417112,56.636362,6.086922,127.924610,coffee,0,
2197,118,33,30,24.131797,67.225123,6.362608,173.322839,coffee,0,
2198,117,32,34,26.272418,52.127394,6.758793,127.175293,coffee,0,
2199,104,18,30,23.603016,60.396475,6.779833,140.937041,coffee,0,

## pre model to select sub categories based on N, P, K

In [11]:
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn import tree
from sklearn.model_selection import cross_val_score

In [12]:
pre_data = data.loc[data['num_label'].isin([0, 1, 2, 3, 4]), ['N', 'P', 'K', 'num_label']].apply(pd.to_numeric)

pre_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1100 entries, 0 to 2199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   N          1100 non-null   int64
 1   P          1100 non-null   int64
 2   K          1100 non-null   int64
 3   num_label  1100 non-null   int64
dtypes: int64(4)
memory usage: 43.0 KB

In [13]:
y= pre_data.pop('num_label')

In [14]:
X_train, X_test, y_train, y_test = train_test_split(pre_data, y, test_size=0.25, random_state=5691)

In [15]:
acc = []
model = []

In [16]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()

knn.fit(X_train,y_train)

predicted_values = knn.predict(X_test)

x = metrics.accuracy_score(y_test, predicted_values)
acc.append(x)
model.append('K Nearest Neighbours')
print("KNN Accuracy is: ", x)

print(classification_report(y_test,predicted_values))

KNN Accuracy is:  0.8836363636363637
              precision    recall  f1-score   support

           0       0.91      0.81      0.86        26
           1       1.00      1.00      1.00        74
           2       0.67      0.72      0.69        46
           3       1.00      1.00      1.00        71
           4       0.76      0.76      0.76        58

    accuracy                           0.88       275
   macro avg       0.87      0.86      0.86       275
weighted avg       0.89      0.88      0.88       275

In [17]:
from sklearn.tree import DecisionTreeClassifier
DT = DecisionTreeClassifier(criterion="entropy",random_state=2,max_depth=5)

DT.fit(X_train,y_train)

predicted_values = DT.predict(X_test)
x = metrics.accuracy_score(y_test, predicted_values)
acc.append(x)
model.append('Decision Tree')
print("Decision Tree's Accuracy is: ", x*100)

print(classification_report(y_test,predicted_values))

Decision Tree's Accuracy is:  86.18181818181819
              precision    recall  f1-score   support

           0       1.00      0.73      0.84        26
           1       0.94      1.00      0.97        74
           2       0.58      0.96      0.72        46
           3       1.00      0.97      0.99        71
           4       0.97      0.53      0.69        58

    accuracy                           0.86       275
   macro avg       0.90      0.84      0.84       275
weighted avg       0.91      0.86      0.86       275

In [18]:
from sklearn.ensemble import RandomForestClassifier

RF = RandomForestClassifier(n_estimators=20, random_state=0)
RF.fit(X_train,y_train)

predicted_values = RF.predict(X_test)

x = metrics.accuracy_score(y_test, predicted_values)
acc.append(x)
model.append('RF')
print("Random Forest Accuracy is: ", x)

print(classification_report(y_test,predicted_values))

Random Forest Accuracy is:  0.8981818181818182
              precision    recall  f1-score   support

           0       1.00      0.92      0.96        26
           1       1.00      1.00      1.00        74
           2       0.68      0.78      0.73        46
           3       1.00      1.00      1.00        71
           4       0.79      0.72      0.76        58

    accuracy                           0.90       275
   macro avg       0.89      0.89      0.89       275
weighted avg       0.90      0.90      0.90       275

In [19]:
import xgboost as xgb
XB = xgb.XGBClassifier()
XB.fit(X_train,y_train)

predicted_values = XB.predict(X_test)

x = metrics.accuracy_score(y_test, predicted_values);
acc.append(x)
model.append('XGBoost')
print("XGBoost Accuracy is: ", x)

print(classification_report(y_test,predicted_values))

XGBoost Accuracy is:  0.9054545454545454
              precision    recall  f1-score   support

           0       0.96      0.96      0.96        26
           1       1.00      1.00      1.00        74
           2       0.71      0.76      0.74        46
           3       1.00      1.00      1.00        71
           4       0.80      0.76      0.78        58

    accuracy                           0.91       275
   macro avg       0.90      0.90      0.90       275
weighted avg       0.91      0.91      0.91       275

## another section

In [20]:
rice_yield= {'2019-2020': 3.1,
      '2020-2021': 2.9,
      '2021-2022': 3.0,
      '2022-2023': 3.1}
rice_price = {'2019-2020': 25770,
      '2020-2021': 26870 ,
      '2021-2022': 30450,
      '2022-2023': 32640}

In [21]:
fibre_df = data.loc[data['num_label'] ==4, :]
fibre_df#['N'].agg(['min', 'max'])

,N,P,K,temperature,humidity,ph,rainfall,label,num_label,num_label_2
1900,133,47,24,24.402289,79.197320,7.231325,90.802236,cotton,4,
1901,136,36,20,23.095956,84.862757,6.925412,71.295811,cotton,4,
1902,104,47,18,23.965635,76.976967,7.633437,90.756167,cotton,4,
1903,133,47,23,24.887381,75.621372,6.827355,89.760504,cotton,4,
1904,126,38,23,25.362438,83.632761,6.176716,88.436189,cotton,4,
...,...,...,...,...,...,...,...,...,...,...
2095,87,44,43,23.874845,86.792613,6.718725,177.514731,jute,4,
2096,88,52,39,23.928879,88.071123,6.880205,154.660874,jute,4,
2097,90,39,37,24.814412,81.686889,6.861069,190.788639,jute,4,
2098,90,39,43,24.447439,82.286484,6.769346,190.968489,jute,4,
2099,84,38,43,26.574217,73.819949,7.261581,159.322307,jute,4,

In [22]:
fibre_df.loc[fibre_df['label'].isin(['cotton']), 'num_label_2'] = 1 
fibre_df.loc[fibre_df['label'].isin(['jute']), 'num_label_2'] = 2

In [23]:
fibre_df= fibre_df.drop(columns= ['label', 'num_label'])
fibre_df = fibre_df.apply(pd.to_numeric)

In [24]:
fibre_df [['N', 'P', 'K']].agg(['min', 'max'])

       N   P   K
min   60  35  15
max  140  60  45

In [25]:
fruits_df = data.loc[data['num_label'] ==1, :]
fruits_df[['N', 'P', 'K']].agg(['min', 'max'])

       N   P   K
min   80   5  45
max  120  95  55

In [26]:
lentils_df = data.loc[data['num_label'] ==3, :]
lentils_df['N'].agg(['min', 'max'])

min     0
max    60
Name: N, dtype: int64

In [27]:
cereal_df = data.loc[data['num_label'] ==2, :]

In [28]:
cereal_df['N'].agg(['min', 'max'])

min     60
max    100
Name: N, dtype: int64

In [29]:
cereal_df.loc[cereal_df['label'].isin(['rice']), 'num_label_2'] = 1 #1=rice

In [30]:
cereal_df.loc[cereal_df['label'].isin(['maize']), 'num_label_2'] = 2 #2= maize

In [31]:
cereal_df= cereal_df.drop(columns= ['label', 'num_label'])

In [32]:
cereal_df[['N', 'P', 'K']].agg(['min', 'max'])

       N   P   K
min   60  35  15
max  100  60  45

In [33]:
y = cereal_df.pop("num_label_2")

In [34]:
X_train, X_test, y_train, y_test = train_test_split(cereal_df, y, test_size=0.25, random_state=5691)

In [35]:
pipe = make_pipeline(
    SelectFromModel(DecisionTreeRegressor()),
    RandomForestRegressor()
)

In [36]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('selectfrommodel',
                 SelectFromModel(estimator=DecisionTreeRegressor())),
                ('randomforestregressor', RandomForestRegressor())])

In [37]:
r2_score(
    y_true=y_train,
    y_pred=pipe.predict(X_train)
)

1.0

In [38]:
r2_score(
    y_true=y_test,
    y_pred=pipe.predict(X_test)
)

1.0

In [39]:
import pickle

In [40]:
pickle.dump(pipe,
            open(file='trained model/first_pipe.sav',
                 mode='wb'))

In [41]:
fruits_df

,N,P,K,temperature,humidity,ph,rainfall,label,num_label,num_label_2
1000,91,94,46,29.367924,76.249001,6.149934,92.828409,banana,1,
1001,105,95,50,27.333690,83.676752,5.849076,101.049479,banana,1,
1002,108,92,53,27.400536,82.962213,6.276800,104.937800,banana,1,
1003,86,76,54,29.315908,80.115857,5.926825,90.109781,banana,1,
1004,80,77,49,26.054330,79.396545,5.519088,113.229737,banana,1,
...,...,...,...,...,...,...,...,...,...,...
1495,96,13,55,29.527531,94.574594,6.700338,21.135457,muskmelon,1,
1496,82,26,47,28.504164,93.468065,6.565313,24.200072,muskmelon,1,
1497,106,21,52,28.895786,94.789930,6.286515,23.036250,muskmelon,1,
1498,90,15,52,27.049275,91.382173,6.448062,23.657475,muskmelon,1,
1499,106,16,54,28.960179,91.695322,6.585873,24.745820,muskmelon,1,

In [42]:
fruits_df.loc[fruits_df['label'].isin(['banana']), 'num_label_2'] = 1 #1=banana

In [43]:
fruits_df.loc[fruits_df['label'].isin(['muskmelon']), 'num_label_2'] = 2 #2= muskmelon

In [44]:
fruits_df.loc[fruits_df['label'].isin(['watermelon']), 'num_label_2'] = 3 #3= watermelon

In [45]:
fruits_df.loc[fruits_df['num_label_2']== 3]

,N,P,K,temperature,humidity,ph,rainfall,label,num_label,num_label_2
1300,119,25,51,26.473302,80.922544,6.283818,53.657426,watermelon,1,3
1301,119,19,55,25.187800,83.446217,6.818261,46.874209,watermelon,1,3
1302,105,30,50,25.299547,81.775276,6.376201,57.041471,watermelon,1,3
1303,114,8,50,24.746313,88.308663,6.581588,57.958261,watermelon,1,3
1304,93,22,52,26.587407,81.325632,6.932740,41.875400,watermelon,1,3
...,...,...,...,...,...,...,...,...,...,...
1395,97,12,47,25.287846,89.636679,6.765095,58.286977,watermelon,1,3
1396,110,7,45,26.638386,84.695469,6.189214,48.324286,watermelon,1,3
1397,96,18,50,25.331045,84.305338,6.904242,41.532187,watermelon,1,3
1398,83,23,55,26.897502,83.892415,6.463271,43.971937,watermelon,1,3
1399,120,24,47,26.986037,89.413849,6.260839,58.548767,watermelon,1,3

In [46]:
fruits_df=fruits_df.drop(columns= ['label', 'num_label'])

In [47]:
y = fruits_df.pop("num_label_2")

In [48]:
X_train, X_test, y_train, y_test = train_test_split(fruits_df, y, test_size=0.25, random_state=5691)

In [49]:
pipe = make_pipeline(
    SelectFromModel(DecisionTreeRegressor()),
    RandomForestRegressor()
)

In [50]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('selectfrommodel',
                 SelectFromModel(estimator=DecisionTreeRegressor())),
                ('randomforestregressor', RandomForestRegressor())])

In [51]:
r2_score(
    y_true=y_train,
    y_pred=pipe.predict(X_train)
)

0.9985916789396171

In [52]:
r2_score(
    y_true=y_test,
    y_pred=pipe.predict(X_test)
)

0.9999979452054795

In [53]:
pickle.dump(pipe,
            open(file='trained model/fruit_pipe.sav',
                 mode='wb'))

In [54]:
lentils_df[['N', 'P', 'K']].agg(['min', 'max'])

      N   P   K
min   0  35  15
max  60  80  85

In [55]:
lentils_df= lentils_df.drop(columns= ['label', 'num_label'])
lentils_df = lentils_df.apply(pd.to_numeric)

In [56]:
lentils_df.loc[lentils_df['label'].isin(['chickpea']), 'num_label_2'] = 1 #1=banana
lentils_df.loc[lentils_df['label'].isin(['mungbean']), 'num_label_2'] = 2 #1=banana
lentils_df.loc[lentils_df['label'].isin(['blackgram']), 'num_label_2'] = 3 #1=banana

KeyError: 'label'

In [ ]:
y = lentils_df.pop("num_label_2")

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(lentils_df, y, test_size=0.25, random_state=5691)

In [ ]:
pipe.fit(X_train, y_train)

In [ ]:
r2_score(
    y_true=y_train,
    y_pred=pipe.predict(X_train)
)

In [ ]:
r2_score(
    y_true=y_test,
    y_pred=pipe.predict(X_test)
)

In [ ]:
pickle.dump(pipe,
            open(file='trained model/lentils_pipe.sav',
                 mode='wb'))

In [ ]:
y = fibre_df.pop("num_label_2")

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(fibre_df, y, test_size=0.25, random_state=5691)

In [ ]:
pipe.fit(X_train, y_train)

In [ ]:
r2_score(
    y_true=y_train,
    y_pred=pipe.predict(X_train)
)

In [ ]:
r2_score(
    y_true=y_test,
    y_pred=pipe.predict(X_test)
)

In [ ]:
pickle.dump(pipe,
            open(file='trained model/fibre_pipe.sav',
                 mode='wb'))

In [ ]:
fibre_df

In [ ]:
pip install --upgrade streamlit

In [ ]:
pip install streamlit --upgrade

In [ ]:
pip install streamlit-option-menu